version: "3.1"

services:
  mongo:
    image: mongo:4.0.3
    container_name: mongo
    restart: always
    volumes:
      - ./data/db:/data/db
    ports:
      - 27017:27017
    networks:
      - backend
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: root
  backend:
    build: .
    container_name: backend
    restart: always
    ports:
      - 8000:5000
    networks:
      - backend
    depends_on:
      - mongo
    environment:
      DB_MONGO_USER: root
      DB_MONGO_PASSWORD: root
      DB_MONGO_HOST: localhost
      DB_MONGO_PORT: 27017
      NODE_ENV: test
      PORT: 5000
      API_KEY: 123456789
    command: npm start

networks:
  backend:
    driver: bridge
volumes:
  mongo:
